:root {
  --black: #1a1a1a;
  --white: #fafafa;
  --tertiary: rgb(226, 240, 255);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--black);
}

body,
textarea,
input {
  font-family: 'Noto Sans JP', sans-serif;
  font-optical-sizing: auto;
}

/* Page layout */

.title-header {
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgb(230, 230, 230);
  display: flex;
  user-select: none;
}

.page-title {
  font-size: 21px;
  font-weight: 600;
  padding-left: 12px;
  display: flex;
  align-items: center;
}

.main-container {
  display: flex;
  height: calc(100vh - 40px);
  margin-top: 40px;
  overflow: hidden;
}

.list-aside {
  width: 275px;
  overflow-y: scroll;
  background-color: rgb(240, 240, 240);
  padding: 16px;
  scrollbar-color: #8b8b8b rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  gap: 10px;
  user-select: none;
}

.list-aside > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a.list-btn {
  width: 100%;
  height: 30px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black);
}

.list-btn:hover {
  background-color: rgb(218, 218, 218);
  cursor: pointer;
}

.content-section {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
}

.sub-container {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}

/* Components */

#fra-readings {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

#div-kanji {
  flex: 0 0 100px;
  width: 100px;
  height: 100px;
  background-color: var(--white);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#kanji-display {
  font-size: 72px;
}

#div-readings {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#div-readings > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#div-readings span,
#div-readings input {
  width: 85%;
}

textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  resize: none;
  overflow: auto;
}

div.sub-section {
  padding: 30px 30px;
  margin: 30px 0;
  background-color: var(--tertiary);
}

div.sub-section > h2 {
  margin-top: 10px;
}

fieldset.two-cols {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);
  gap: 20px;
}

fieldset.two-cols > label {
  display: flex;
  flex-direction: column;
}

fieldset select {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

fieldset textarea {
  height: 5em;
}

td.center-buttons {
  display: flex;
  justify-content: space-evenly;
}

#txt-xml-import-log,
#txt-csv-import {
  height: 10em;
  margin-bottom: 0.5em;
}

#src-text {
  width: 100%;
  height: 200px;
  font-size: 16px;
}

#results {
  display: none;
}

#all-kanji {
  font-size: 24px;
  letter-spacing: 6px;
}

#all-kanji a {
  color: blue;
  text-decoration: none;
}

.progress-bar {
  width: 100%;
  background-color: grey;
  height: 25px;
  margin-bottom: 0.5em;
}

.current-progress {
  width: 0%;
  height: 25px;
  background-color: green;
}